.global-header {
	border-bottom: solid 2px $brand-primary;
	background: $gray-darker;
	height: 52px;
	padding: 0 10px 0 5px;
	-webkit-app-region: drag;
	opacity: 0.5;
	box-shadow: 0 0 5px #000;
	text-align: center;
	
	> nav {
		-webkit-app-region: no-drag;
	}
	
	&.focus-active {
		opacity: 1;
	}
	
	.primary-nav {
		.btn-primary.dropdown-toggle {
			$size: 40px;
			
			height: $size;
			width: $size;
			text-align: center;
			margin-top: 5px;
		}
		
		a {
			cursor: pointer;
			padding-left: 40px;
			position: relative;
			padding-top: 5px;
			padding-bottom: 5px;
			
			i {
				position: absolute;
				left: 12px;
				top: 9px;
				color: darken($link-color, 40%);
			}
			
			&:hover {
				i {
					color: $link-color;
				}
			}
		}
	}
	
	.dropdown-menu {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.logo {
		line-height: 50px;
		color: $brand-primary;
		font-family: $headings-font-family;
		font-size: 20px;
		
		i {
			color: $brand-primary;
			font-size: 30px;
			vertical-align: middle;
			position: relative;
			top: -1px;
			margin-right: 10px;
		}
	}
}

.os-trigger {
	$size: 30px;

	float: left;
	font-size: 18px;
	height: $size;
	width: $size;
	line-height: $size;
	color: $gray;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 5px;

	&:hover {
		background-color: $body-bg;
		color: $dark-color;
		
		&.os-trigger-close {
			background-color: $brand-danger;
		}
	}
}