.week-row {
	$label-width: 300px;

	position: relative;
	background: $gray-dark;
	
	+ .week-row {
		margin-top: 1px;
	}

	.hours-bucket-label {
		float: left;
		width: $label-width;
		padding: 10px 20px;
	}
	
	.hours-bucket-label,
	.day {
		position: relative;
		
		&:hover {
			input[type="text"],
			input[type="number"] {
				color: #fff;
			}
		}
	}

	input[type="text"],
	input[type="number"],
	textarea {
		width: 100%;
		background: none;
		border: none;
		padding: 10px 0;
		color: $gray-light;

		&:focus {
			color: $brand-primary !important; // overrides hover
			font-weight: 700;
		}
	}
	
	.hours-bucket-label,
	.day {
		
	}
	
	input[type="number"] {
		text-align: right;
	}

	.day {
		width: 1/7 * 100%;
		float: left;
		padding: 10px 5px;
		border-left: solid 1px $body-bg;
	}

	.days {
		margin-left: $label-width;
	}
}

.week-row-input {
	.day {
		&:hover {
			background: $gray-darker;
		}
	}
}

.week-row-header {
	.hours-bucket-label,
	.day {
		padding: 5px 20px;
	}
	
	.day {
		color: $gray;
		text-align: right;
	}
}

.week-row-footer {
	.hours-bucket-label,
	.total {
		padding: 20px;
	}
	
	.total {
		border-left: solid 1px $body-bg;
		text-align: right;
	}
	
	.total-label {
		color: $gray-light;
		margin-right: 5px;
		
		&:after {
			content: ':';
		}
	}
}