<!doctype html>
<html ng-csp ng-app="chromeTimetracker">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>
		<header ng-controller="Header" class="global-header focus-active" can-focus="window">

			<nav class="pull-left primary-nav">
				<div class="btn-group" data-dropdown data-is-open="status.isopen">
					<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
						<i class="fa fa-bars"></i>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a><i class="fa fa-th"></i> Overview</a>
						</li>
						<li class="divider"></li>
						<li>
							<a ng-click="$emit('setCurrentWeek')">This Week</a>
						</li>
						<li>
							<a ng-click="$emit('setLastWeek')">Last Week</a>
						</li>
						<li>
							<a ng-click="$emit('setNextWeek')">Next Week</a>
						</li>
						<li class="divider"></li>
						<li>
							<a>View Last Month</a>
						</li>
						<li>
							<a>View Current Month</a>
						</li>
						<li class="divider"></li>
						<li>
							<a>About</a>
						</li>
						<li class="divider"></li>
						<li>
							<a ng-click="$emit('os.close')"><i class="fa fa-times"></i> Close</a>
						</li>
					</ul>
				</div>
			</nav>

			<nav class="pull-right">
				<a ng-click="$emit('os.minimize')" class="os-trigger">
					<i class="fa fa-minus"></i>
				</a>

				<a ng-click="$emit('os.close')" class="os-trigger os-trigger-close">
					<i class="fa fa-times"></i>
				</a>
			</nav>

			<div class="logo">
				<i class="fa fa-clock-o"></i> Chrome Timetracker
			</div>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">

					<div ng-controller="DateDelegator" ng-init="init()">
						<div class="week-display" ng-repeat="week in weeks">
							<header>
								<h2>{{ week.label }}</h2>
							</header>

							<div class="week-row week-row-header clearfix">

								<div class="hours-bucket-label">
									
								</div>

								<div class="days">
									<div class="day day-monday"></div>
									<div class="day day-tuesday"></div>
									<div class="day day-wednesday"></div>
									<div class="day day-thursday"></div>
									<div class="day day-friday"></div>
									<div class="day day-saturday"></div>
									<div class="day day-sunday"></div>
								</div>

							</div>

							<div ng-repeat="task in week.tasks" class="week-row clearfix week-row-input">

								<div class="hours-bucket-label">
									<input type="text" ng-model="task.label" />
								</div>

								<div class="days">

									<div class="day" ng-repeat="day in week.days">
										<input type="number" 
											min="0"
											ng-model="hoursData[day.format(DATA_KEY)][task.id]" />
									</div>
								</div>

							</div>

							<div class="week-row week-row-footer clearfix">

								<div class="hours-bucket-label"></div>

								<div class="total days">
									<span class="total-label">{{ week.label }}</span> <strong>{{ calculate(week.days[START_DAY], week.days[END_DAY]) }} hours</strong>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/moment/moment.js"></script>
		<script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="../bower_components/angular-chrome-storage/angular-chrome-storage.js"></script>
		<script src="../js/bootstrap.js"></script>
		<script src="../js/main/directives/canFocus.js"></script>
		<script src="../js/main/factories/NativeEvents.js"></script>
		<script src="../js/main/factories/WeekFactory.js"></script>
		<script src="../js/main/factories/Util.js"></script>
		<script src="../js/main/controllers/Header.js"></script>
		<script src="../js/main/controllers/DateDelegator.js"></script>
		<script src="../js/config.js"></script>
	</body>
</html>