<!doctype html>
<html ng-csp ng-app="chromeTimetracker">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>
		<header ng-controller="Header" class="global-header" can-focus="window">
			<nav class="pull-right">
				<a ng-click="$emit('os.minimize')" class="os-trigger">
					<i class="fa fa-minus"></i>
				</a>
				
				<a ng-click="$emit('os.close')" class="os-trigger os-trigger-close">
					<i class="fa fa-times"></i>
				</a>
			</nav>
		</header>
		
		<div class="container">
			
		</div>
		
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="../js/bootstrap.js"></script>
		<script src="../js/main/directives/canFocus.js"></script>
		<script src="../js/main/factories/NativeEvents.js"></script>
		<script src="../js/main/controllers/Header.js"></script>
		<script src="../js/config.js"></script>
	</body>
</html>